/*Login Component left side*/
.flex{
    display: flex;
}
.leftPhoto{
    position: relative;
    width: 35%;
   
}
.leftTitle{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
.rightSide{
    width: 63%;
    padding: 1.9em;
    height: 90vh;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #3A8DFF 0%, #86B9FF 100%);
    mix-blend-mode: normal;
    opacity: 0.85;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    gap: 30px;
    
}
.responsive{
    width: 100%;
   
    height: 99.5vh;
}
/*Login Component right side*/
.switch{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.need{
    color: #B0B0B0;
}
a{
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(74, 106, 149, 0.2);
    border-radius: 5px;
    text-decoration: none;
    
}

.inputWidth{
    width: 100%;
}   
.width{
    width: 60%;
}
.mt{
    margin-top: 80px;
}
.height{
    height: 70vh;
}
.title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}
.center{
   display: flex;
   justify-content: center;
}
.forgot{
    position: absolute;
    right: 0;
    bottom: 20%;
    cursor: pointer;
    color: #3A8DFF;

}

@media screen and (max-width: 1400px) {
    .leftPhoto{
        width: 50%;
    }
    .width{
        width: 80%;
    }
}
@media screen and (max-width: 1100px) {
    .leftPhoto{
        width: 70%;
    }
    .width{
        width: 80%;
    }
    .text{
        width: 90%;
    }
    .loose{
        width: 90%;
    }
}
@media screen and (max-width: 850px) {
    .leftPhoto{
        display: none;
    }
    .width{
        width: 90%;
    }
    .rightSide{
        width: 100%;
    }
}
@media screen and (max-width: 435px) {
    .switch{
        justify-content: center;
    }
    .title{
        font-size: 25px;
    }
}