/*Login Component left side*/
.flex{
    display: flex;
}
.leftPhoto{
    position: relative;
    width: 30%;
   
}
.rightSide{
    width: 60%;
    padding: 1.1em;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #3A8DFF 0%, #86B9FF 100%);
    mix-blend-mode: normal;
    opacity: 0.85;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    
}
.responsive{
    width: 100%;
   
    height: 99.5vh;
}
/*Login Component right side*/
.switch{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.need{
    color: #B0B0B0;
}
a{
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(74, 106, 149, 0.2);
    border-radius: 5px;
    text-decoration: none;
    
}
.height{
    height: 80vh;
}
.inputWidth{
    width: 90%;
}   
.width{
    width: 70%;
}
.mt{
    margin-top: 30px;
}
.title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}
.center{
   justify-self: center;
}
